/* Palette inspired by this one from Color Hunt
#FBF8F1
#F7ECDE
#E9DAC1
#54BAB9
https://colorhunt.co/palette/fbf8f1f7ecdee9dac154bab9
*/

body {
    display: flex;
    flex-direction: column;
    background-color: #F7ECDE;
    color: #862d52;
    text-shadow: 1px 1px 5px #a8717f;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    padding: 0 0 .25em;
    margin: 0;
}

#change-mode-button {
    position: absolute;
    top: 5px;
    right: 8px;
    color: #862d52;
    border-color: #837579;
    width: fit-content;
    height: 25px;
    font-size: 14px;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 2px 2px #cfbfa8;
}

#change-mode-button:active {
    text-shadow: .4px .4px .75px #a8717f;
    transform: translate(1px);
}

.divider {
    background-color: #862d52;
    width: 75%;
    height: 5px;
    margin: 20px auto;
    border-radius: 3px;
}

.textbox-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: .5em;
}

textarea {
    white-space: pre-line;
}

.string-area {
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
}

#string-input {
    background-color: #ffffff;
    border-color: #837579;
    width: 275px;
    height: 48px;
    font-size: 1em;
    border-radius: 5px;
    border-style: solid;
    border-width: 4px;
    resize: none;
}

#text-input {
    background-color: #ffffff;
    border-color: #837579;
    width: 175px;
    height: 500px;
    font-size: 1.5em;
    border-radius: 5px;
    border-style: solid;
    border-width: 4px;
    resize: none;
}

#text-input:focus {
    border-color: #a8717f;
}

.textbox-area-right {
    width: 175px;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

#text-output {
    background-color: #F7ECDE;
    border-color: #837579;
    width: 175px;
    height: 500px;
    font-size: 1.5em;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 8px;
    resize: none;
}

#copied-notice {
    background-color: #862d52;
    color: #F7ECDE;
    width: 100px;
    height: 50px;
    font-size: .75em;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    visibility: hidden;
}

.button-area {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.buttons {
    border-color: #837579;
    width: 100px;
    height: 50px;
    font-size: 1em;
    border-radius: 5px;
    border-style: solid;
    border-width: 4px;
    cursor: pointer;
    box-shadow: 3px 3px #cfbfa8;
}

.buttons:active {
    text-shadow: .4px .4px .75px #a8717f;
    transform: translate(1px);
}

a {
    color: #862d52;
    text-shadow: 1px 1px 5px #a8717f;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: .5em;
    font-size: .8em;
}

.profile-pic {
    width: 3.25em;
    height: 3.25em;
    padding: 1px;
}

/*tablet & above query*/
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 2.25em;
    }

    #string-input {
        width: 350px;
        height: 38px;
        font-size: 1.25em;
    }

    #text-input {
        background-color: #FBF8F1;
        width: 300px;
        height: 500px;
    }

    .textbox-area-right {
        width: 300px;
    }

    #text-output {
        width: 300px;
        height: 500px;
    }

    #copied-notice {
        width: 200px;
        font-size: 1em;
        margin: 5px;
    }

    .buttons {
        width: 10em;
        height: 3em;
        font-size: 1.25em;
    }

    .buttons:active {
        text-shadow: .5px .5px 1px #a8717f;
    }

    footer {
        font-size: 1em;
    }
}

/*desktop query*/
@media only screen and (min-width: 1150px) {

    h1 {
        font-size: 2.5em;
    }

    #string-input {
        width: 550px;
        height: 25px;
        font-size: 1.5em;
    }
}